In [28]:
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import datasets
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
import pandas as pd
import numpy as np

names= ['Sample code number'
,'Clump Thickness','Uniformity of Cell Size','Uniformity of Cell Shape'
,'Marginal Adhesion','Single Epithelial Cell Size','Bare Nuclei'
,'Bland Chromatin','Normal Nucleoli','Mitoses','Class']

data = pd.read_csv('breast-cancer-wisconsin.data', names= list(range(11)))

data.head()

        0   1   2   3   4   5   6   7   8   9   10
0  1000025   5   1   1   1   2   1   3   1   1   2
1  1002945   5   4   4   5   7  10   3   2   1   2
2  1015425   3   1   1   1   2   2   3   1   1   2
3  1016277   6   8   8   1   3   4   3   7   1   2
4  1017023   4   1   1   3   2   1   3   1   1   2

In [29]:
data = data.replace('?', np.nan)
data.isnull().sum().sum()

16

In [30]:
data = data.dropna()

data.isnull().sum().sum()

0

In [31]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(data.drop(10, axis=1))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [34]:

scaled_features = scaler.transform(data.drop(1, axis = 1))
df = pd.DataFrame(scaled_features, columns=range(0,10))
df.head()

,0,1,2,3,4,5,6,7,8,9
0,-0.123664,-1.221191,-0.702212,-0.741774,-0.290016,-1.005763,-0.149582,-0.998853,-0.612927,0.229166
1,-0.118956,-0.156869,0.277252,0.597635,1.456730,3.045631,-0.149582,-0.590340,-0.612927,0.229166
2,-0.098833,-1.221191,-0.702212,-0.741774,-0.290016,-0.555608,-0.149582,-0.998853,-0.612927,0.229166
3,-0.097459,1.262227,1.583204,-0.741774,0.059333,0.344701,-0.149582,1.452225,-0.612927,0.229166
4,-0.096256,-1.221191,-0.702212,-0.072069,-0.290016,-1.005763,-0.149582,-0.998853,-0.612927,0.229166

In [35]:
from sklearn.model_selection import train_test_split

X_train , X_test, y_train,y_test = train_test_split(df,
                                                   data[10], test_size=0.30, 
                                                   random_state=101)

In [37]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(solver='lbfgs')
model.fit(X_train, y_train)
y_model = model.predict(X_test)

In [38]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_model)

1.0

In [40]:
from sklearn.metrics import classification_report
pred = model.predict(X_test)
print(classification_report(y_test, pred))

              precision    recall  f1-score   support

           2       1.00      1.00      1.00       130
           4       1.00      1.00      1.00        75

    accuracy                           1.00       205
   macro avg       1.00      1.00      1.00       205
weighted avg       1.00      1.00      1.00       205

In [47]:
from sklearn.svm import LinearSVC

# Create support vector classifier
svc = LinearSVC(C=1.0)
# Train model
model_svc = svc.fit(X_train, y_train)
y_model_svc = model.predict(X_test)

In [48]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_model_svc)

1.0

In [49]:
from sklearn.metrics import classification_report
pred = model_svc.predict(X_test)
print(classification_report(y_test, pred))

              precision    recall  f1-score   support

           2       1.00      1.00      1.00       130
           4       1.00      1.00      1.00        75

    accuracy                           1.00       205
   macro avg       1.00      1.00      1.00       205
weighted avg       1.00      1.00      1.00       205

In [50]:
y_model_svc = model.predict(X_train)
accuracy_score(y_train, y_model_svc)

1.0