In [25]:
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import datasets
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
import pandas as pd
import numpy as np

names= ['Sample code number'
,'Clump Thickness','Uniformity of Cell Size','Uniformity of Cell Shape'
,'Marginal Adhesion','Single Epithelial Cell Size','Bare Nuclei'
,'Bland Chromatin','Normal Nucleoli','Mitoses','Class']

data = pd.read_csv('breast-cancer-wisconsin.data', names= list(range(11)))

data.head()

        0   1   2   3   4   5   6   7   8   9   10
0  1000025   5   1   1   1   2   1   3   1   1   2
1  1002945   5   4   4   5   7  10   3   2   1   2
2  1015425   3   1   1   1   2   2   3   1   1   2
3  1016277   6   8   8   1   3   4   3   7   1   2
4  1017023   4   1   1   3   2   1   3   1   1   2

In [26]:
data = data.replace('?', np.nan)
data.isnull().sum().sum()

16

In [27]:
clean_data = data.dropna()

clean_data.isnull().sum().sum()

0

In [28]:
from sklearn.preprocessing import StandardScaler

# Standardize features
scaler = StandardScaler()
scaled_features = scaler.fit_transform(clean_data.drop(10, axis=1))

clean_data.head()

        0   1   2   3   4   5   6   7   8   9   10
0  1000025   5   1   1   1   2   1   3   1   1   2
1  1002945   5   4   4   5   7  10   3   2   1   2
2  1015425   3   1   1   1   2   2   3   1   1   2
3  1016277   6   8   8   1   3   4   3   7   1   2
4  1017023   4   1   1   3   2   1   3   1   1   2

In [29]:

df = pd.DataFrame(scaled_features, columns= clean_data.columns[:-1])
df.head()

,0,1,2,3,4,5,6,7,8,9
0,-0.123664,0.197905,-0.702212,-0.741774,-0.639366,-0.555608,-0.698853,-0.181827,-0.612927,-0.3484
1,-0.118956,0.197905,0.277252,0.262783,0.758032,1.695166,1.772867,-0.181827,-0.285105,-0.3484
2,-0.098833,-0.511643,-0.702212,-0.741774,-0.639366,-0.555608,-0.424217,-0.181827,-0.612927,-0.3484
3,-0.097459,0.552679,1.583204,1.602192,-0.639366,-0.105454,0.125054,-0.181827,1.354008,-0.3484
4,-0.096256,-0.156869,-0.702212,-0.741774,0.059333,-0.555608,-0.698853,-0.181827,-0.612927,-0.3484

In [30]:
from sklearn.model_selection import train_test_split

X_train , X_test, y_train,y_test = train_test_split(df,
                                                   clean_data[10], test_size=0.30, 
                                                   random_state=101)

In [31]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(solver='lbfgs')
model.fit(X_train, y_train)
y_model = model.predict(X_test)

In [32]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_model)

0.975609756097561

In [33]:
from sklearn.metrics import classification_report
pred = model.predict(X_test)
print(classification_report(y_test, pred))

              precision    recall  f1-score   support

           2       0.97      0.99      0.98       130
           4       0.99      0.95      0.97        75

    accuracy                           0.98       205
   macro avg       0.98      0.97      0.97       205
weighted avg       0.98      0.98      0.98       205

In [34]:
from sklearn.svm import LinearSVC

# Create support vector classifier
svc = LinearSVC(C=1.0)
# Train model
model_svc = svc.fit(X_train, y_train)
y_model_svc = model.predict(X_test)

In [35]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_model_svc)

0.975609756097561

In [36]:
from sklearn.metrics import classification_report
pred = model_svc.predict(X_test)
print(classification_report(y_test, pred))

              precision    recall  f1-score   support

           2       0.98      0.99      0.98       130
           4       0.99      0.96      0.97        75

    accuracy                           0.98       205
   macro avg       0.98      0.98      0.98       205
weighted avg       0.98      0.98      0.98       205