In [154]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


data = pd.read_csv('kr-vs-kp.txt', names = np.arange(37))
data.head()

  0  1  2  3  4  5  6  7  8  9   ... 27 28 29 30 31 32 33 34 35   36
0  f  f  f  f  f  f  f  f  f  f  ...  f  f  f  f  f  f  t  t  n  won
1  f  f  f  f  t  f  f  f  f  f  ...  f  f  f  f  f  f  t  t  n  won
2  f  f  f  f  t  f  t  f  f  f  ...  f  f  f  f  f  f  t  t  n  won
3  f  f  f  f  f  f  f  f  t  f  ...  f  f  f  f  f  f  t  t  n  won
4  f  f  f  f  f  f  f  f  f  f  ...  f  f  f  f  f  f  t  t  n  won

[5 rows x 37 columns]

In [155]:
data.shape

(3196, 37)

In [156]:
#no duplicated rowes
(data.duplicated() == True).sum()

0

In [157]:
#find values 
pd.Series(data.values.reshape(data.size)).unique()

array(['f', 'l', 'n', 't', 'won', 'w', 'b', 'g', 'nowin'], dtype=object)

In [158]:
data.values[:, :-1].shape

(3196, 36)

In [159]:
#create dict with unque values from data frame 
value = dict(zip(pd.Series(data.values.reshape(data.size)).unique(),list(range(2,11))))
value

{'f': 2, 'l': 3, 'n': 4, 't': 5, 'won': 6, 'w': 7, 'b': 8, 'g': 9, 'nowin': 10}

In [160]:
#change catigories to num
for i in range(data.shape[1]):
    data[i] = data[i].replace(value)
    

data.head()

  0  1  2  3  4  5  6  7  8  9   ... 27 28 29 30 31 32 33 34 35 36
0  2  2  2  2  2  2  2  2  2  2  ...  2  2  2  2  2  2  5  5  4  6
1  2  2  2  2  5  2  2  2  2  2  ...  2  2  2  2  2  2  5  5  4  6
2  2  2  2  2  5  2  5  2  2  2  ...  2  2  2  2  2  2  5  5  4  6
3  2  2  2  2  2  2  2  2  5  2  ...  2  2  2  2  2  2  5  5  4  6
4  2  2  2  2  2  2  2  2  2  2  ...  2  2  2  2  2  2  5  5  4  6

[5 rows x 37 columns]

In [165]:
from sklearn.model_selection import train_test_split

X_train , X_test, y_train,y_test = train_test_split(data,
                                                   data.iloc[:, -1], test_size=0.30, 
                                                   random_state=101)

In [177]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(class_weight='balanced',solver='liblinear', max_iter=200)
model.fit(X_train, y_train)
y_model = model.predict(X_test)

In [178]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_model)

1.0

In [179]:
from sklearn.metrics import classification_report
pred = model.predict(X_test)
print(classification_report(y_test, pred))

              precision    recall  f1-score   support

           6       1.00      1.00      1.00       498
          10       1.00      1.00      1.00       461

    accuracy                           1.00       959
   macro avg       1.00      1.00      1.00       959
weighted avg       1.00      1.00      1.00       959

In [151]:
data[0]

0       2
1       2
2       2
3       2
4       2
       ..
3191    5
3192    5
3193    5
3194    5
3195    5
Name: 0, Length: 3196, dtype: object

In [164]:
data.iloc[:, -1]

0        6
1        6
2        6
3        6
4        6
        ..
3191    10
3192    10
3193    10
3194    10
3195    10
Name: 36, Length: 3196, dtype: int64

In [172]:
LogisticRegression?